body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #25255b;
    margin-left: 10px;
}

p {
    color: #25255b;
    line-height: 30px;
}

label {
    color: #25255b;
    line-height: 30px;
}

.name-container {
    background-color: #ffffff;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #898989;
    max-width: 750px;
}

.otherquestions-container {
    background-color: #ffffff;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #898989;
    max-width: 750px;

}

.submit-button {
    margin-left: 10px;
}