body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

.icon img {
  width: 25px;
  height: 25px;
}

.wind-direction img {
  width: 15px;
  height: 15px;
}
